@import "colors-waybar.css";
* {
  font-family: Ubuntu Nerd Font;
  font-weight: normal;
  font-size: 14px;
  min-height: 0;
  color: @color7;
}
#window,
#clock,
#tray,
#backlight,
#pulseaudio,
#battery,
#network,
#workspaces,
#custom-powermenu,
#custom-spotify,
#custom-arch {
  background-color:  @color0;
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 3px;
}
#tray {
border: 2px solid @color1
}
#custom-arch {
border: 2px solid @color1 ;
border-radius: 10px 10px 10px 10px;
}
#custom-powermenu {
border: 2px solid @color1 ;
border-radius: 10px 10px 10px 10px;
}
#custom-spotify {
margin-left: 3px ;
border: 2px solid @color1 ;
border-radius: 10px 10px 10px 10px; 
}
#workspaces {
border: 2px solid @color1 ;
}
#clock {
border-right: 2px solid @color1;
border-top: 2px solid @color1;
border-bottom: 2px solid @color1
}
#network {
border-left: 2px solid @color1;
border-top: 2px solid @color1;
border-bottom: 2px solid @color1
}
#backlight,
#battery,
#pulseaudio {
border-top: 2px solid @color1;
border-bottom: 2px solid @color1
}
#tray {
  border-radius: 10px 10px 10px 10px;  
  margin-right: 3px;
}
#network {
border-radius: 10px 0px 0px 10px;
}
#clock{
    border-radius: 0px 10px 10px 0px}
#custom-arch {
margin-left: 3px; }
#clock {
  font-weight: bold;
  margin-right: 3px;
}
#window {
font-weight: bold;
border-radius: 10px 10px 10px 10px;
padding-left: 3px;
padding-right: 3px;
}
#workspaces button {
  color: gray;
  padding: 1px;
  }
#workspaces button.active {
    color: white;
}

#workspaces button.focused {
    color: white;
  }
#workspaces {
   border-radius: 10px 10px 10px 10px;
}
button {
  min-width: 16px;
}
window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
}
